/*@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');*/
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,700,900');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Raleway" !important;
    background-color: #fff;
    color: #0F023A;
}

body.ac {
    overflow: hidden;
}

a {
    color: #8061E7;
    text-decoration: none;
    position: relative;
}
/*a.hl::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ff4757;
    left: 0;
    bottom: 0;
    z-index: -1;
}*/

::selection {
    background: #00FAD4;
    color: #0F023A;
}

.sidebar {
    background-color: #fff;
    width: 300px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    color: #0F023A;
    /*color: #2f3542;*/
    box-shadow: 0 0 20px 5px rgba(0,0,0,.1);
    z-index: 100;
    transition: transform .5s;
}

.accueil,
.competences,
.projets,
.formation,
.contact,
.experiencepro {
    margin-left: 300px;
}

.competences,
.projets,
.formation,
.contact,
.experiencepro {
    padding: 40px 100px;
}

.sidebar.active {
    transform: translateX(0);
}

.sidebar::-webkit-scrollbar {
    background-color: #03041A;
}

.sidebar::-webkit-scrollbar-track-piece {
    background-color: #03041A;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,.1);
    border: 5px solid #03041A;
    border-radius: 20px;
}

.sidebar .photo {
    width: 200px;
    height: 200px;
    background-color: #03041A;
    border-radius: 200px;
    margin: 40px auto 60px;
    overflow: hidden;
    background-image: url("../img/gikari.jpg");
    background-size: cover;
    background-position: -30px;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 20px 1px rgba(0,0,0,.1);
    transition: transform .25s;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar h2 {
    text-align: center;
    font-weight: 800;
    margin-bottom: 60px;
}

.sidebar a {
    color: #0F023A;
    text-decoration: none;
    font-weight: 400;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 60px;
    padding-left: 40px;
}

.sidebar li {
    height: 60px;
    transition: background-color .25s;
}

.sidebar li.active::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 60px;
    left: 0;
    background: linear-gradient(135deg,#00FAD4, #00FAD4);
}

.sidebar li.active {
    background-color: rgba(0,0,0,.05);
}

.sidebar li:hover {
    background-color: rgba(0,0,0,.05);
}

.sidebar .social {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
}

.sidebar .social svg {
    color: #D2D3D7;
    font-size: 2em;
    transition: color .15s;
}

.sidebar .social svg:hover {
    color: #0F023A;
}

.shape {
    position: absolute;
    width: 40%;
    right: 5%;
    top: 20%;
    z-index: -1;
}

.circle {
    position: absolute;
    top: 50%;
    right: -50%;
    transform: translateY(-50%);
    z-index: -2;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 20;
}

.name {
    position: absolute;
    width: 40%;
    right: 5%;
    top: 25%;
    text-shadow: 0 10px 5px rgba(0,0,0,.5)
}

@media screen and (max-height: 750px) {
    .sidebar {
        overflow-y: scroll;
    }
    .sidebar .social {
        position: static;
    }
}

@media screen and (max-width: 1200px) {
    .sidebar {
        transform: translateX(-300px);
        transition: transform .5s;
    }
    .pres, .cv, .name {
        left: 100px !important;
    }
    #menu-icon {
        display: block !important;
    }
    .accueil,
    .competences,
    .projets,
    .formation,
    .contact,
    .experiencepro {
        margin-left: 0;
    }      
}

@media screen and (min-width: 1200px) {
    .sidebar {
        transform: translateX(0px);
        transition: transform .5s;
    }
}

@media screen and (max-width: 1670px) {
    .name {
        left: 400px;
        top: 10%;
        width: 510px;
    }
    .pres {
        top: 40% !important;
    }
    .cv {
        top: 65% !important;
    }
}

@media screen and (max-width: 700px) {
    .pres {
        max-width: 400px !important;
        width: 100% !important;
        position: relative;
        margin: auto;
        left: 0 !important;
        right: 0;
        text-align: center;
        padding-right: 5vw;
        padding-left: 5vw;
        font-size: 1.4em !important;
        margin-top: 20px;
    }
    .pres::after {
        display: none;
    }
    .cv {
        position: relative;
        left: 0 !important;
        right: 0;
        margin: auto;
        width: 250px;
        padding-right: 5vw;
        padding-left: 5vw;
    }
    .name {
        display: block;
        width: 80vw !important;
        min-width: 160px !important;
        position: relative;
        left: 0 !important;
        margin: 0 auto 0;
        padding-right: 5vw;
        padding-left: 5vw;
        padding-top: 100px;
    }
    #menu-icon {
        right: 10px !important;
        top: 10px !important;
    }
}

@media screen and (max-width: 400px) {
    .cv {
        top: 70% !important;
    }
    .pres {
        font-size: 1.2em !important;
    }
    #menu-icon {
        right: 0 !important;
        top: 0 !important;
    }
}

.pres {
    position: absolute;
    top: 25%;
    line-height: 1.5;
    left: 400px;
    width: 510px;
    font-size: 1.5em;
    color: #0F023A;
}

.pres::after {
    content: "";
    position: absolute;
    background: linear-gradient(to right,#00FAD4, #00FAD4);
    bottom: -40px;
    left: 0;
    width: 80px;
    height: 2px;
}

.cv {
    position: absolute;
    display: block;
    color: #0F023A;
    /*background: linear-gradient(135deg,#ff4757, #ff7f50);*/
    background: linear-gradient(135deg,#00FAD4, #00FAD4);
    left: 400px;
    top: 55%;
    padding: 15px 30px 15px 30px;
    font-size: 1.25em;
    border-radius: 60px;
    box-shadow: 5px 5px 20px 2px rgba(0,0,0,.1);
    transition: transform .25s;
}

.cv:hover {
    transform: translateY(-5px);
}

.cv svg {
    margin-left: 15px;
}

#particles-js {
    height: 100%;
    position: absolute;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(135deg,#fff #fff);
    left: 0;
}





#outfocus {
    transition: background-color .5s;
    position: fixed;
    background-color: rgba(0,0,0,.0);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 90;
    pointer-events: none;
}

#outfocus.active {
    pointer-events: all;
    background-color: rgba(0,0,0,.5);
}









#menu-icon {
    display: none;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background-color: transparent;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 200;
    overflow: hidden;
    transition: transform .25s; }
 
  
  #menu-icon:hover .line span:nth-child(1)::before {
    -webkit-transform: translateX(120px);
    -ms-transform: translateX(120px);
    transform: translateX(120px); }
  
  #menu-icon:hover .line span:nth-child(2)::before {
    -webkit-transform: translateX(120px);
    -ms-transform: translateX(120px);
    transform: translateX(120px); }
  
  #menu-icon:hover .line span:nth-child(3)::before {
    -webkit-transform: translateX(120px);
    -ms-transform: translateX(120px);
    transform: translateX(120px); }
  
  #menu-icon:hover .cross span:nth-child(1)::before {
    -webkit-transform: translateX(120px);
    -ms-transform: translateX(120px);
    transform: translateX(120px); }
  
  #menu-icon:hover .cross span:nth-child(2)::before {
    -webkit-transform: translateY(-120px);
    -ms-transform: translateY(-120px);
    transform: translateY(-120px); }
  
  #menu-icon .line {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    height: 60px;
    width: 60px; }
  
  #menu-icon .line span:nth-child(1) {
    display: block;
    position: relative;
    height: 2px;
    width: 50%;
    background-color: #0F023A;
    top: 24px;
    margin-left: 15px;
    -webkit-transition: width .25s;
    -o-transition: width .25s;
    transition: width .25s;
    -webkit-transition-delay: 0.60s;
    -o-transition-delay: 0.60s;
    transition-delay: 0.60s; }
  
  #menu-icon .line span:nth-child(2) {
    display: block;
    position: relative;
    height: 2px;
    width: 45%;
    background-color: #0F023A;
    top: 50%;
    margin-left: 15px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: width .25s;
    -o-transition: width .25s;
    transition: width .25s;
    -webkit-transition-delay: 0.55s;
    -o-transition-delay: 0.55s;
    transition-delay: 0.55s; }
  
  #menu-icon .line span:nth-child(3) {
    display: block;
    position: relative;
    height: 2px;
    width: 40%;
    background-color: #0F023A;
    margin-left: 15px;
    top: 34px;
    -webkit-transition: width .25s;
    -o-transition: width .25s;
    transition: width .25s;
    -webkit-transition-delay: 0.50s;
    -o-transition-delay: 0.50s;
    transition-delay: 0.50s; }
  
  #menu-icon .cross {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    position: relative;
    height: 60px;
    width: 60px;
    top: -60px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  
  #menu-icon .cross span:nth-child(1) {
    display: block;
    position: relative;
    height: 2px;
    width: 0;
    background-color: #0F023A;
    margin-left: 16px;
    top: 31px;
    -webkit-transition: width 0.25s;
    -o-transition: width 0.25s;
    transition: width 0.25s;
    -webkit-transition-delay: 0.00s;
    -o-transition-delay: 0.00s;
    transition-delay: 0.00s; }
  
  #menu-icon .cross span:nth-child(2) {
    display: block;
    position: relative;
    height: 0;
    width: 2px;
    background-color: #0F023A;
    margin-left: 30px;
    top: 15px;
    -webkit-transition: height 0.25s;
    -o-transition: height 0.25s;
    transition: height 0.25s;
    -webkit-transition-delay: 0.25s;
    -o-transition-delay: 0.25s;
    transition-delay: 0.125s; }
  
  #menu-icon.active .line span:nth-child(1) {
    width: 0;
    -webkit-transition-delay: 0.00s;
    -o-transition-delay: 0.00s;
    transition-delay: 0.00s; }
  
  #menu-icon.active .line span:nth-child(2) {
    width: 0;
    -webkit-transition-delay: 0.05s;
    -o-transition-delay: 0.05s;
    transition-delay: 0.05s; }
  
  #menu-icon.active .line span:nth-child(3) {
    width: 0;
    -webkit-transition-delay: 0.10s;
    -o-transition-delay: 0.10s;
    transition-delay: 0s; }
  
  #menu-icon.active .cross span:nth-child(1) {
    width: 50%;
    -webkit-transition-delay: 0.25s;
    -o-transition-delay: 0.25s;
    transition-delay: 0.125s; }
  
  #menu-icon.active .cross span:nth-child(2) {
    height: 50%;
    -webkit-transition-delay: 0.50s;
    -o-transition-delay: 0.50s;
    transition-delay: 0.25s; }











footer {
    position: relative;
    width: 100%;
    height: 260px;
    overflow: hidden;
}




.page-title {
    margin-bottom: 80px;
    color: #ff4757;
    font-size: 3.5em;
    font-weight: 400;
    margin-top: 0;
}

/*.title .page-title {
    height: 40px;
    margin-top: 0px !important;
    margin-bottom: 60px;
}*/









input,
textarea {
    padding: 10px 20px;
    margin: 10px auto;
    border-radius: 6px;
    box-shadow: none;
    border: 1px solid transparent;
    outline: 0;
    color: #03041A;
    background-color: rgba(255,255,255,.05);
    font: 300 1.1em "Raleway";
    line-height: 1.5em;
    width: 100%;
    max-width: 1000px;
    letter-spacing: .5pt;
}

form {
    margin: auto;
}

textarea {
    resize: none;
}

input:focus,
textarea:focus {
    border: 1px solid #ff4757;
}

input::placeholder,
textarea::placeholder {
    color: rgba(255,255,255,.4);
    letter-spacing: .5pt;
}

textarea::-webkit-scrollbar {
    background-color: #0a0e1d;
}

textarea::-webkit-scrollbar-track-piece {
    background-color: rgba(255,255,255,.05);
}

textarea::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,.1);
    border: 5px solid #161A29;
    border-radius: 20px;
}

button[type=submit] {
    margin-top: 40px;
    margin-bottom: 20px;
    color: white;
    background: linear-gradient(135deg,#ff4757, #ff4757);
    padding: 15px 30px 15px 30px;
    border-radius: 60px;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.2);
    transition: transform .25s;
    font: 400 1.25em "Raleway";
    border: none;
}

.g-recaptcha {
    margin-top: 10px;
    margin-bottom: 20px;
}

button[type=submit]:hover {
    transform: translateY(-5px);
}

button[type=submit] svg {
    margin-left: 15px;
}

.label {
    margin-bottom: 40px;
    display: block;
}



.liste h3 {
    font-size: 1.5em;
    font-weight: 300;
    position: relative;
    margin-bottom: 20px;
    margin-top: 0;
}

/*.liste h3::after {
    content: "";
    position: absolute;
    background: linear-gradient(to right,#ff4757, #ff4757);
    bottom: -10px;
    left: 0;
    width: 40px;
    height: 2px;
}*/


.liste .container {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 5px 5px 20px 2px rgba(0,0,0,.1);
    min-width: 244px;
    justify-content: flex-start;
    margin-bottom: 60px;
}

.liste .container .legend {
    text-align: center;
    margin-bottom: 0;
    margin: 0;
    margin-top: 20px;
}

.liste .container div .img {
    width: 100px;
    margin: auto;
    height: 120px;
    position: relative;
}

.img div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 !important;
}

.img div img {
    display: block;
    position: relative;
    margin: 0;
}

.liste .container div {
    margin: 20px;
    margin-left: 40px;
    margin-right: 40px;
    width: 160px;
}

.liste .container div .lvl {
    margin: 20px auto 10px;
    height: 6px;
    background-color: rgba(0,0,0,.15);
    position: relative;
    border-radius: 6px;
    width: 100px;
}

.liste .container div .lvl::after {
    content: "";
    position: absolute;
    height: 6px;
    left: 0;
    width: 80%;
    border-radius: 6px;
    background: linear-gradient(to right,#ff4757, #ff4757);
}

